body{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
/*Class*/
.header {
 background-color: #2356e7;
 
}
.imahe {
position: absolute;
}
.text_box{
    position:relative;
}
.magulang{
    position:relative;
    background-color: #eee;
    padding: 50px;
}
.About_me{
    background-color: #eee;
    position: relative;
    top: 59px;
    left: 400px;
    width: 500PX ;
    padding: 100px;
    

}
/*paragraph proporties*/
.par1{
    font-family: Arial;
    color: grey;
    text-indent:50px;
    font-size: 20px;
    text-align: justify;
}
/*Text ID*/
#text1 {
    font-family:Arial;
    position:relative;
    left: 325px;
    font-size: 40px;
    color:grey;
}
/*Title Entry*/
#Main_text{
    font-family:sans-serif;
    font-style:bold; 
    color:#eee;
}